matplotlib
numpy 
scikit-learn==1.3.2
pathlib 
neo4j 
pandas
umap==0.1.1
umap-learn==0.5.5
json5==0.9.14
torch
torch_geometric
python-dotenv==1.0.0
gensim==4.3.2
py2neo==2021.2.4
seaborn==0.13.0
flask
requests